# common config values
export JENKINS_PORT=8086
export SERVICE_ID=ossjenkins
export PROJECT_NAME=ossjenkins
export APP_IDENTITY=PluginDemo-Pipeline
#export APP_IDENTITY=PluginDemo-Freestyle
export APP_IDENTITY_CLAIM=jenkins_full_name

###########################
# authn-jwt config values
export JWT_POLICY_TEMPLATE=authn-jwt.yml.template
export JWKS_URI=http://$CONJUR_LEADER_HOSTNAME:$JENKINS_PORT/jwtauth/conjur-jwk-set
export TOKEN_APP_PROPERTY=$APP_IDENTITY_CLAIM	# claim containing name of host identity
export IDENTITY_PATH=$PROJECT_NAME	# Conjur policy path to host identity definition
export JWT_ISSUER=http://$CONJUR_LEADER_HOSTNAME:$JENKINS_PORT

# Note: all Conjur hosts must include annotations for enforced claims
#export ENFORCED_CLAIMS=jenkins_task_noun,jenkins_pronoun

###########################
# Jenkins job authn values
export JWT_APP_POLICY_TEMPLATE=app-authn-jwt.yml.template

# first claim is the token-app-property (app identity) claim
export JWT_CLAIM1_NAME=$APP_IDENTITY_CLAIM
export JWT_CLAIM1_VALUE=$APP_IDENTITY

# Note: Claim names below must support enforced claims for authn-jwt endpoint
#export JWT_CLAIM2_NAME=jenkins_task_noun
#export JWT_CLAIM2_VALUE=Build
#export JWT_CLAIM3_NAME=jenkins_pronoun
#export JWT_CLAIM3_VALUE=Pipeline

