export CONJUR_HOME=~
source $CONJUR_HOME/config/aws.config

export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
export AUTHN_IAM_SERVICE_ID=useast2	# ID of authn-aws endpoint
export CONJUR_CERT_FILE=$MASTER_CERT_FILE

# AWS account number w/o hyphens
export AWS_ACCOUNT=475601244925
# When launching the instance, it must be configured to run w/ this role
export AWS_IAM_ROLE=GenericReadOnly
# Name of application policy
export APPLICATION_NAME=cust-portal

# Login is host identity specified in Conjur policy
export CONJUR_AUTHN_LOGIN=host/$APPLICATION_NAME/$AWS_ACCOUNT/$AWS_IAM_ROLE
