# Download the following zipfiles and set the path variables for your env:
# - IBM installer
# - MSSQLserver JDBC driver
# - CyberArk CP for Ubuntu
# - CyberArk ASCP
#
# See README for links.
 
# Docker stuff
export DEMO_IMAGE=wasascpdemo
export DEMO_CONTAINER=wasascp4
export DEMO_HOSTNAME=$DEMO_CONTAINER
export DEMO_DIR=/demo

# WebSphere stuf
export IBM_INSTALLER_ZIPFILE=~/Downloads/was_install_pkgs/ibm-installer-linux.1.9.zip
export MSSQLSERVER_JDBC_ZIPFILE=~/Downloads/was_install_pkgs/sqljdbc_12.4.2.0_enu.tar.gz
export HTTP_ADMIN_PORT=9060
export HTTPS_ADMIN_PORT=9043
export HTTP_TRANSPORT_PORT=9080
export HTTPS_TRANSPORT_PORT=9444
export IBM_CREDFILE=/ibm_credfile
export WAS_REPOSITORY=http://www.ibm.com/software/repositorymanager/com.ibm.websphere.ND.v90
export WAS_PACKAGE=com.ibm.websphere.ND.v90_9.0.11.20190312_2048
export JAVA_PACKAGE=com.ibm.java.jdk.v8_8.0.6031.20210708_1058
export WAS_LIB_DIR=/opt/IBM/WebSphere/AppServer/lib
export INSTALL_DIR=/opt/IBM/WebSphere/AppServer
export SHARED_DIR=/opt/IBM/IMShared
export PREFERENCES=com.ibm.cic.common.core.preferences.eclipseCache=$SHARED_DIR
export INSTALLER_LOGFILE=/tmp/ibm_installer.log

# MSSQLserver stuff
export DB_HOSTNAME=conjur-master-mac
export DB_HOST_IP=192.168.68.102
export DB_USERNAME=prod_user1
export DB_PASSWORD=qdDyPGHJ4uxG
export DB_NAME=petclinic

# CyberArk stuff
export VAULT_IP=192.168.35.132
export VAULT_USERNAME=Administrator
export VAULT_PASSWORD=Cyberark1
export CREDFILE_NAME=wasascp.cred

export CP_ZIPFILE_PATH=~/Downloads/PAS/AAM
export CP_ZIPFILE=Ubuntu64-Rls-v11.6.zip
export CP_INSTALL_DIR=/demo/cp
export ASCP_ZIPFILE_PATH=~/Downloads/PAS/AAM
export ASCP_ZIPFILE=ascp-v11.6.zip
