# Configuration settings for AWS Conjur demo environment

#################################
##  AWS Configuration setting  ##
#################################

export PATH=$CONJUR_HOME/bin:$PATH      # path to utility functions
export DOCKER="sudo docker"             # set docker command
export DOCKER_REGISTRY_URL=https://ec2-13-58-161-67.us-east-2.compute.amazonaws.com:5000

# SSH info for connecting to VM instance
export AWS_SSH_KEY=~/.ssh/aws-ec2-conjur.pem
export LOGIN_USER=ubuntu
export AWS_PUB_DNS=ec2-13-58-161-67.us-east-2.compute.amazonaws.com

# path to Conjur tarfiles
IMAGE_DIR=~/images

# Conjur tarfile name (NOT paths)
CONJUR_APPLIANCE_VERSION=12.0.0
CONJUR_APPLIANCE_IMAGE_FILE=conjur-appliance-${CONJUR_APPLIANCE_VERSION}.tar.gz

# Conjur cluster connections configured w/ private IP
if [[ $USER = ubuntu ]]; then
  export AWS_PVT_IP=$(hostname -i)
fi

############################################################
#              Conjur Master Cluster settings
############################################################

# NOT using DNS - scripts add entries in /etc/hosts. 
# This is to allow use of a descriptive name for Conjur Master.
export NO_DNS=false
export CONJUR_MASTER_HOST_NAME=$AWS_PUB_DNS
export CONJUR_MASTER_HOST_IP=$AWS_PVT_IP
export CONJUR_ACCOUNT=aws
export CONJUR_ADMIN_USERNAME=admin
export CONJUR_ADMIN_PASSWORD=$(keyring get conjur adminpwd);
export CONJUR_APPLIANCE_IMAGE=conjur-appliance:$CONJUR_APPLIANCE_VERSION
export CLI_IMAGE=cyberark/conjur-cli:5-latest

export CONJUR_MASTER_CONTAINER_NAME=conjur-master
export CONJUR_FOLLOWER_CONTAINER_NAME=conjur-follower
export CLI_CONTAINER_NAME=conjur-cli
export CONJUR_MASTER_PORT=443
# CONJUR_FOLLOWER_PORT is for follower on master host only - not for OpenShift followers
export CONJUR_FOLLOWER_PORT=444
export CONJUR_MASTER_PGSYNC_PORT=5432
export CONJUR_MASTER_PGAUDIT_PORT=1999
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
export CONJUR_VERSION=5

# location to cache master cert and seed file for Follower configuration
export CACHE_DIR=~/conjur-etc
export MASTER_CERT_FILE=$CACHE_DIR/conjur-master-$CONJUR_ACCOUNT.pem
export FOLLOWER_CERT_FILE=$CACHE_DIR/conjur-follower-$CONJUR_ACCOUNT.pem
export FOLLOWER_SEED_FILE=$CACHE_DIR/follower-seed.tar

###########################################################
# Cert altnames for Conjur node-to-node TLS authentication
# Alt names must be separated by a spaces, not commas

# Alt-names for conjur master cert 
export MASTER_ALTNAMES="$CONJUR_MASTER_HOST_NAME,$AWS_PUB_DNS"

source $CONJUR_HOME/config/aws.k8s

# Alt-names for conjur follower cert
export FOLLOWER_ALTNAMES="$CONJUR_MASTER_HOST_NAME"
###########################################################
