# build container
export DEMO_IMAGE=dotnetdemo
export DEMO_CONTAINER=dotnet
export DEMO_DIR=/demo

# local demo app source code
export SRC_DIR=./src
export SRC_FILES="$(ls $SRC_DIR)"

# demo parameters
export CONJUR_LEADER_HOSTNAME=conjur-master-mac
export CONJUR_LEADER_HOST_IP=192.168.68.111
export CONJUR_APPLIANCE_URL=https://$CONJUR_LEADER_HOSTNAME
export CONJUR_ACCOUNT=dev
export CONJUR_AUTHN_LOGIN=host/client/node
export CONJUR_AUTHN_API_KEY=3r00eg53tbks5g5eag4gk152z818w31zr1t3745yp2r1at2ppf314
export CONJUR_IGNORE_UNTRUSTED_SSL=yes
