# add sudo as needed for docker commands
export DOCKER="docker"
if [[ "$(uname -s)" == "Linux" ]]; then
  export CYBR="./cybr-linux"
else
  export CYBR=~/Downloads/cybr
fi

# PAS Connection params
export PAS_PVWA_URL=https://comp_server
export PAS_PVWA_IP=192.168.2.163
export PAS_ADMIN_NAME=Admin1
export PAS_PASSWORD=$(keyring get pas adminpwd);

# Conjur connection params
export CONJUR_LEADER_HOSTNAME=conjur-master-mac
export CONJUR_LEADER_HOST_IP=$(ifconfig en0 | grep "inet 192" | cut -d ' ' -f 2)
export CONJUR_APPLIANCE_URL=https://$CONJUR_LEADER_HOSTNAME
export CONJUR_ACCOUNT=dev
export CONJUR_AUTHN_LOGIN=admin
export CONJUR_AUTHN_API_KEY=$(keyring get conjur adminpwd);
export CONJUR_SSL_CERTIFICATE="$(openssl s_client -showcerts -connect $CONJUR_LEADER_HOSTNAME:443 < /dev/null 2> /dev/null | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p')"
export CONJUR_CERT_FILE=~/conjur-$CONJUR_ACCOUNT.pem
echo "$CONJUR_SSL_CERTIFICATE" > $CONJUR_CERT_FILE

# cybr cli predefined ACLs
ACL_FULL_ADMIN="--access-content-without-confirmation 	\
--add-accounts						\
--backup-safe						\
--create-folders					\
--delete-folders					\
--init-cpm-account-managment-operations			\
--list-accounts 					\
--manage-safe						\
--manage-safe-members					\
--move-accounts-and-folders				\
--retrieve-accounts					\
--update-account-content				\
--update-account-properties				\
--use-accounts						\
--view-audit-log					\
--view-safe-members"

ACL_LOB_USER="--access-content-without-confirmation 	\
--list-accounts 					\
--retrieve-accounts					\
--use-accounts"

# Target database parameters
export MYSQL_APP_IDENTITY=mysql/demoapp
export MYSQL_IMAGE=mysql:5.7.32
export MYSQL_ROOT_PASSWORD=Cyberark1
export MYSQL_URL=$CONJUR_LEADER_HOSTNAME
export MYSQL_PORT=3306
export MYSQL_CLIENT_IMAGE=mysql-client
export MYSQL_CLIENT=mysql-client
