source ../config/conjur.config
export PSMPZIPDIR=/Users/josephhunt/Downloads/PAS
export PSMPZIPFILE=PSMP-RHEL-v12.1.zip
export PSMPBASEIMAGE=psmpbase:latest
export PSMPDEMOIMAGE=psmpclient:latest
export PSMP_CNAME=psmpclient
export PSMP_PORT=3022
export VAULT_ADMIN_NAME=Administrator
export VAULT_ADMIN_PWD=$(keyring get cyberark adminpwd)
