using CyberArk.AIM.NetPasswordSDK;
using CyberArk.AIM.NetPasswordSDK.Exceptions;
using System;
using System.Security;

namespace NetPasswordSDK {
  class Program {
    static void Main(string[] args) {
      PSDKPassword password = null;
      try {
        PSDKPasswordRequest passRequest = new PSDKPasswordRequest();

        passRequest.AppID = "AppBilling";
        passRequest.ConnectionPort = 18923;
        passRequest.ConnectionTimeout = 30;
        passRequest.Safe = "passwords";
        passRequest.Folder = "root";
        passRequest.Object = "AppPasswordBilling";
        passRequest.Reason = "Billing application – connect to DB2";
        passRequest.RequiredProperties.Add("PolicyId");
        passRequest.RequiredProperties.Add("userName");
        passRequest.RequiredProperties.Add("Address");

        // Sending the request to get the password
        password = PasswordSDK.GetPassword(passRequest);

        // Analyzing the response
        SecureString secret = password.SecureContent;

        // Use password properties
        //password.UserName
        //password.Address
        //password.GetAttribute("PassProps.PolicyId")
      } catch (PSDKException ex) {
        Console.WriteLine(ex.Reason);
      } finally {
        if (password != null)
        {
          password.SecureContent.Dispose();
        }
      }
    }
  }
}
