export SPLUNK_CONTAINER_NAME=splunk
export SPLUNK_IMAGE_VERSION=7.1.2
export SPLUNK_IMAGE_NAME=$SPLUNK_CONTAINER_NAME/$SPLUNK_CONTAINER_NAME:$SPLUNK_IMAGE_VERSION
export SPLUNK_HOSTNAME=$SPLUNK_CONTAINER_NAME
export SPLUNK_EXTERNAL_PORT=8000
export SPLUNK_INTERNAL_PORT=8000
export SPLUNK_REST_PORT=8089
export SPLUNK_ACCOUNT_PASSWORD=$CONJUR_ADMIN_PASSWORD
export SPLUNK_AUDIT_VOLUME="$CONJUR_AUDIT_VOLUME"
export SPLUNK_AUDIT_DIRECTORY=/conjur
export SPLUNK_NGINX_DIRECTORY=/nginx
export SPLUNK_ACCOUNT=admin
