# Configuration settings for AWS Conjur demo environment

# SSH info for connecting to VM instance 
export AWS_SSH_KEY=~/.ssh/CYBR-East2-JodyHunt.pem
export LOGIN_USER=ubuntu
export AWS_PUB_DNS=ec2-18-220-242-132.us-east-2.compute.amazonaws.com
export AWS_PUB_IP=18.220.242.132

export CONJUR_APPLIANCE_URL=https://$AWS_PUB_DNS
export CONJUR_ACCOUNT=dev
export CONJUR_AUTHN_LOGIN=admin
export CONJUR_AUTHN_API_KEY=$(keyring get conjur adminpwd)

# Conjur cluster connections configured w/ private IP
if [[ $USER = ubuntu ]]; then
  export AWS_PVT_IP=$(hostname -i)
fi
