# Configuration settings for AWS Conjur demo environment

# SSH info for connecting to VM instance 
export AWS_SSH_KEY=~/.ssh/jody-ca-central-1.pem
export LOGIN_USER=ubuntu
export AWS_PUB_DNS=ec2-35-183-81-142.ca-central-1.compute.amazonaws.com
export AWS_PUB_IP=35.183.81.142

export CONJUR_APPLIANCE_URL=https://$AWS_PUB_DNS
export CONJUR_ACCOUNT=dev
export CONJUR_AUTHN_LOGIN=admin
export CONJUR_AUTHN_API_KEY=$(keyring get conjur adminpwd)

# Conjur cluster connections configured w/ private IP
if [[ $USER = ubuntu ]]; then
  export AWS_PVT_IP=$(hostname -i)
fi
