############################################################
# Configuration settings for Conjur demo environment
############################################################

if [ "$CONJUR_HOME" == "" ]; then
  echo "Set CONJUR_HOME to path to cybersm-demos directory."
  exit -1
fi

MASTER_PLATFORM=${MASTER_PLATFORM:-dockerdesktop} 

# Set Master platform config
case $MASTER_PLATFORM in
  azure)
        source $CONJUR_HOME/config/azure.config
	;;

  aws)
        source $CONJUR_HOME/config/aws.config
	;;

  dockerdesktop)
        source $CONJUR_HOME/config/dockerdesktop.config
        source $CONJUR_HOME/config/dockerdesktop.k8s
	;;

  minikube)
	source $CONJUR_HOME/config/minikube.config
	source $CONJUR_HOME/config/minikube.k8s
	;;

  *)
	echo "Unknown platform" $MASTER_PLATFORM
	exit -1
esac
