# Configuration settings for Docker Desktop Conjur demo environment

##########################################
# Docker Desktop Configuration setting   #
##########################################

export PATH=$CONJUR_HOME/bin:$PATH      # path to utility functions
export DOCKER="docker"            	# set docker command
eval $(minikube -p minikube docker-env)























############################################################
#              Conjur Master Cluster settings
############################################################

# NOT using DNS - scripts add entries in /etc/hosts.
# This is to allow use of a descriptive name for Conjur Master.
export NO_DNS=false
export CONJUR_LEADER_HOSTNAME=conjur-master-minikube
export CONJUR_LEADER_HOST_IP=$(minikube ip)
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_USERNAME=admin
export CONJUR_AUTHN_LOGIN=$CONJUR_ADMIN_USERNAME
case $(uname -s) in
  Linux)
	export CONJUR_ADMIN_PASSWORD=$(keyring -b keyrings.alt.file.PlaintextKeyring get conjur adminpwd)
	;;
  Darwin)
	export CONJUR_ADMIN_PASSWORD=$(keyring get conjur adminpwd)
	;;
esac
export CONJUR_AUTHN_API_KEY=$CONJUR_ADMIN_PASSWORD
export CONJUR_APPLIANCE_VERSION=12.9.0
export CONJUR_APPLIANCE_IMAGE=cyberark/conjur-appliance:$CONJUR_APPLIANCE_VERSION
export SECURITY_OPT="seccomp=unconfined --privileged"
export CLI_IMAGE=cyberark/conjur-cli:5-latest

export CONJUR_LEADER_CONTAINER_NAME=conjur1
export CONJUR_FOLLOWER_CONTAINER_NAME=conjur-follower
export CLI_CONTAINER_NAME=conjur-cli
export CONJUR_LEADER_PORT=443
export CONJUR_FOLLOWER_PORT=444  # for follower on master host only
export CONJUR_LEADER_PGSYNC_PORT=5432
export CONJUR_LEADER_PGAUDIT_PORT=1999
export CONJUR_LEADER_URL=https://$CONJUR_LEADER_HOSTNAME
export CONJUR_APPLIANCE_URL=$CONJUR_LEADER_URL
export CONJUR_VERSION=5

# Directory in which to write Master cert and seed file
export CACHE_DIR=$CONJUR_HOME/etc
export LEADER_CERT_FILENAME=$CONJUR_LEADER_HOSTNAME-$CONJUR_ACCOUNT.pem
export LEADER_CERT_FILE=$CACHE_DIR/$LEADER_CERT_FILENAME
export CONJUR_CERT_FILE=$LEADER_CERT_FILE
export FOLLOWER_CERT_FILE=$CACHE_DIR/conjur-follower-$CONJUR_ACCOUNT.pem
export FOLLOWER_SEED_FILE=$CACHE_DIR/follower-seed.tar

###########################################################
# Alt-names for conjur leader cert
export LEADER_ALTNAMES="$CONJUR_LEADER_HOSTNAME,conjur-master"

# Alt-names for conjur follower cert
export FOLLOWER_ALTNAMES="$CONJUR_LEADER_HOSTNAME"
###########################################################

# docker network name for conjur master cluster
export CONJUR_NETWORK=conjurnetwork
export CONJUR_AUDIT_VOLUME=cybraudit   # shared volume for audit logs
export CONJUR_NGINX_VOLUME=cybrnginx   # shared volume for nginx logs

###########################################################
# HA stuff
###########################################################
export HAPROXY_IMAGE=haproxy-dap:latest
export CONJUR_STANDBY1_NAME=conjur2
export CONJUR_STANDBY2_NAME=conjur3
export HAPROXY_CONTAINER_NAME=conjur-haproxy
export CONJUR_LEADER_URL=https://$CONJUR_LEADER_HOSTNAME:$CONJUR_LEADER_PORT

###########################################################
# Target database parameters
###########################################################
export MYSQL_IMAGE=mysql:5.7.32
export MYSQL_SERVER=mysql-server
export MYSQL_ROOT_PASSWORD=Cyberark1
export MYSQL_URL=$CONJUR_LEADER_HOSTNAME
export MYSQL_PORT=3306
