# add sudo as needed for docker commands
export DOCKER="docker"
if [[ "$(uname -s)" == "Linux" ]]; then
  export CYBR="./cybr-linux"
else
  export CYBR=~/Downloads/cybr
fi

# PAS Connection params
export PAS_PVWA_URL=https://comp_server
export PAS_PVWA_IP=172.16.93.3
export PAS_ADMIN_NAME=Admin1
export PAS_PASSWORD=$(keyring get pas adminpwd);
export PAS_CPM_NAME=PasswordManager

# cybr cli predefined ACLs
ACL_FULL_ADMIN="--access-content-without-confirmation 	\
--add-accounts						\
--backup-safe						\
--create-folders					\
--delete-folders					\
--init-cpm-account-managment-operations			\
--list-accounts 					\
--manage-safe						\
--manage-safe-members					\
--move-accounts-and-folders				\
--retrieve-accounts					\
--update-account-content				\
--update-account-properties				\
--use-accounts						\
--view-audit-log					\
--view-safe-members"

ACL_LOB_USER="--access-content-without-confirmation 	\
--list-accounts 					\
--retrieve-accounts					\
--use-accounts"
