############################################################
# Configuration settings for Conjur demo environment
############################################################

export CONJUR_HOME=~

MASTER_PLATFORM=gcp

# Set Master platform config
case $MASTER_PLATFORM in
  azure)
        source $CONJUR_HOME/config/azure.config
	;;

  aws)
        source $CONJUR_HOME/config/aws.config
	;;

  gcp)
        source $CONJUR_HOME/config/gcp.config
	;;

  dockerdesktop)
        source $CONJUR_HOME/config/dockerdesktop.config
	;;

  *)
	echo "Unknown platform" $MASTER_PLATFORM
	exit -1
esac
