# add sudo as needed for docker commands
export DOCKER="docker"

# Conjur connection params & admin creds
export CONJUR_LEADER_HOSTNAME=conjur-master-mac
export CONJUR_ACCOUNT=dev
export CONJUR_AUTHN_LOGIN=admin
export CONJUR_AUTHN_API_KEY=$(keyring get conjur adminpwd);

#####################
# Conjur connection derived values
export CONJUR_LEADER_HOST_IP=$(ifconfig en0 | grep "inet 192" | cut -d ' ' -f 2)
export CONJUR_APPLIANCE_URL=https://$CONJUR_LEADER_HOSTNAME
export CONJUR_SSL_CERTIFICATE="$(openssl s_client -showcerts -connect $CONJUR_LEADER_HOSTNAME:443 < /dev/null 2> /dev/null | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p')"
export CONJUR_CERT_FILE=~/conjur-$CONJUR_ACCOUNT.pem
echo "$CONJUR_SSL_CERTIFICATE" > $CONJUR_CERT_FILE

#####################
# Demo-specific env vars
export DEMO_IMAGE=cyberark/demo-app:latest
export DEMO_CONTAINER=pet-store
export DEMO_LOGIN=host/spring-apps/spring-demo
export SPRING_PORT=7080

# Target database parameters
export MYSQL_IMAGE=mysql:5.7.32
export MYSQL_CONTAINER=mysql-db
export MYSQL_PORT=3306
export MYSQL_URL=mysql://$CONJUR_LEADER_HOSTNAME:$MYSQL_PORT/petstore
export MYSQL_ROOT_PASSWORD=Cyberark1
export MYSQL_CLIENT_IMAGE=mysql-client
export MYSQL_CLIENT=mysql-client
