export BUILD_IMAGE=javatmp
export BUILD_CONTAINER=$BUILD_IMAGE
export DEMO_IMAGE=javacpdemo
export DEMO_HOSTNAME=$DEMO_IMAGE
export DEMO_CONTAINER=$DEMO_IMAGE
export DEMO_DIR=/demo
export CP_ZIPFILE_PATH=~/Downloads/PAS/AAM
export CP_ZIPFILE_NAME=AAM-Ubuntu16-Intel64-Rls-12.1.zip
export CP_INSTALL_DIR=/demo/cp
export VAULT_IP=192.168.50.130
export VAULT_USERNAME=Administrator
export VAULT_PASSWORD=Cyberark1
export CREDFILE_NAME=javacp.cred
export CACHE_REFRESH_INTERVAL=3
