# Example configuration settings for AWS Conjur demo environment

export AWS_PUB_DNS=ec2-13-58-161-67.us-east-2.compute.amazonaws.com
export AWS_PUB_IP=13.58.161.67
export CONJUR_MASTER_HOST_NAME=$AWS_PUB_DNS
export CONJUR_MASTER_HOST_IP=$AWS_PVT_IP
export CONJUR_ACCOUNT=aws
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
export CONJUR_CERT_FILE=$MASTER_CERT_FILE
export CONJUR_VERSION=5

# Conjur endpoint name for AWS IAM authn
export AUTHN_IAM_SERVICE_ID=aws-iam

# Name of application policy
export APPLICATION_NAME=cust-portal

# AWS account number w/o hyphens
export AWS_ACCOUNT=475601244925

# The Lambda or EC2 instance must be configured to run w/ the IAM role named here
export AWS_IAM_ROLE=GenericReadOnly

# Login is host identity specified in Conjur policy
export CONJUR_AUTHN_LOGIN=host/$APPLICATION_NAME/$AWS_ACCOUNT/$AWS_IAM_ROLE
