ADMIN_USER=jody_hunt@c
export CONJUR_HOME=~/AWS_env
source $CONJUR_HOME/conjur-ubuntu-install/conjur.config
source $CONJUR_HOME/aws.config

export AUTHN_IAM_SERVICE_ID=cacentral1	# ID of authn-aws endpoint

# AWS account number w/o hyphens
export AWS_ACCOUNT=475601244925
# When launching the instance, it must be configured to run w/ this role
export AWS_IAM_ROLE=cybrsecrets-io-iam_authn_role-
# Name of application policy
export APPLICATION_NAME=demo-app

# Login is host identity specified in Conjur policy
export CONJUR_AUTHN_LOGIN=host/$APPLICATION_NAME/$AWS_ACCOUNT/$AWS_IAM_ROLE
