# Java demo configuration parameters

# Java keystore parameters
export CONJUR_CERT_FILE=./conjur-dev.pem
export JAVA_KEY_STORE_FILE=./conjur.jks
export JAVA_KEY_STORE_PASSWORD=changeit

# Conjur connection URL & account
export CONJUR_APPLIANCE_URL=https://ec2-18-191-189-146.us-east-2.compute.amazonaws.com
export CONJUR_ACCOUNT=dev

# Human user login w/ password - commented out in java code
export CONJUR_USER=admin
export CONJUR_PASSWORD=Cyberark1

# Conjur host authn creds & the variable name to retrieve.
export CONJUR_AUTHN_LOGIN=host/client/node
export CONJUR_AUTHN_API_KEY=2g099sdhc5tdx3e0yctn82q2hj4a3datb2r649114q7jx2btvqeg
export CONJUR_VAR_ID=cust-portal/database/password

export AWS_AUTHN_LOGIN=host/cust-portal/313705343335/EC2SecretsAccess
export AWS_SERVICE_ID=dev
