# Configuration settings for GCP demo environment

#################################
##  GCP Configuration setting  ##
#################################

# SSH info for connecting to VM instance
export LOGIN_USER=josephhunt

export GCP_PVT_IP=10.128.0.4
export GCP_PUB_IP=34.68.139.122
IP1=$(echo $GCP_PUB_IP | cut -d . -f 1)
IP2=$(echo $GCP_PUB_IP | cut -d . -f 2)
IP3=$(echo $GCP_PUB_IP | cut -d . -f 3)
IP4=$(echo $GCP_PUB_IP | cut -d . -f 4)
export GCP_PUB_DNS=$IP4.$IP3.$IP2.$IP1.bc.googleusercontent.com
export GCP_SSH_KEY=~/.ssh/id_dapdemo

# path to Conjur tarfiles
IMAGE_DIR=/home/$LOGIN_USER/images

# Conjur tarfile name (NOT paths)
CONJUR_APPLIANCE_VERSION=12.2.0
CONJUR_APPLIANCE_IMAGE_FILE=conjur-appliance-${CONJUR_APPLIANCE_VERSION}.tar.gz

# Name of application policy
export APPLICATION_NAME=cust-portal

############################################################
#              Conjur Master Cluster settings
############################################################

# NOT using DNS - scripts add entries in /etc/hosts. 
# This is to allow use of a descriptive name for Conjur Master.
export NO_DNS=false
export CONJUR_MASTER_HOST_NAME=$GCP_PUB_DNS
export CONJUR_MASTER_HOST_IP=$GCP_PVT_IP
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_PASSWORD=$(sudo keyring get conjur adminpwd);
export CONJUR_APPLIANCE_IMAGE=conjur-appliance:$CONJUR_APPLIANCE_VERSION
export CLI_IMAGE_NAME=cyberark/conjur-cli:5-latest

export CONJUR_MASTER_CONTAINER_NAME=conjur-master
export CONJUR_FOLLOWER_CONTAINER_NAME=conjur-follower
export CLI_CONTAINER_NAME=conjur-cli
export CONJUR_MASTER_PORT=443
# CONJUR_FOLLOWER_PORT is for follower on master host only - not for OpenShift followers
export CONJUR_FOLLOWER_PORT=444
export CONJUR_MASTER_PGSYNC_PORT=5432
export CONJUR_MASTER_PGAUDIT_PORT=1999
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
export CONJUR_VERSION=5

# location to cache master cert and seed file for Follower configuration
export CACHE_DIR=~/conjur-etc
export CONJUR_CERT_FILE=$CACHE_DIR/conjur-$CONJUR_ACCOUNT.pem
export FOLLOWER_SEED_FILE=$CACHE_DIR/follower-seed.tar

###########################################################
# Cert altnames for Conjur node-to-node TLS authentication
# Alt names must be separated by a spaces, not commas

# Alt-names for conjur master cert 
export MASTER_ALTNAMES="$CONJUR_MASTER_HOST_NAME,$GCP_PUB_DNS"

# Alt-names for conjur follower cert
export FOLLOWER_ALTNAMES="$CONJUR_MASTER_HOST_NAME"
###########################################################
